@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Đăng ký lịch làm việc</h1>
<p>Nhân viên đăng ký lịch theo ca</p>
<ul>
    <li>ca 1: 7h - 12h</li>
    <li>ca 2: 12h - 18h</li>
    <li>ca 3: 18h - 21h</li>
</ul>