@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Đăng ký lịch làm việc</h1>
<p>Nhân viên đăng ký lịch theo ca</p>
<ul>
    <li>ca 1: 7h - 12h</li>
    <li>ca 2: 12h - 18h</li>
    <li>ca 3: 18h - 21h</li>
</ul>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignWorkDate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Ngày</label>
                <input class="form-control" type="date" id="workdate" name="workdate" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
            </div>
            <div class="form-group">
                <label class="control-label">Ca làm</label>
                <select name="calam">
                    <option value="1">ca 1: 7h - 12h</option>
                    <option value="2">ca 2: 12h - 18h</option>
                    <option value="3">ca 3: 18h - 21h</option>
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Đăng ký" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>