@using System.Security.Claims;
@{
    var identity = Context.User.Identity as ClaimsIdentity;
    Account currentAccount = null;

    if (identity != null)
    {
        var accountClaims = identity.Claims;

        currentAccount = new Account()
                {
                    Username = accountClaims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier)?.Value,
                    EmployeeId = accountClaims.FirstOrDefault(p => p.Type == "EmployeeId")?.Value,
                    Level_account = Convert.ToInt32(accountClaims.FirstOrDefault(p => p.Type == ClaimTypes.Role)?.Value)
                };

        if (currentAccount != null && (currentAccount.Username == null || currentAccount.Username == string.Empty))
        {
            currentAccount = null;
        }

    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Showroom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShowroomManagement.styles.css" asp-append-version="true" />

    @* [Customed Dialog] *@
    @*     <link rel="stylesheet" href="~/lib/duDialog/duDialog.css" />
    <link rel="stylesheet" href="~/lib/duDialog/duDialog.min.css" /> *@

    @* [LAYOUT] *@
    <link rel="shortcut icon" type="image/png" href="~/images/AdminL" />
    <link rel="stylesheet" href="~/adminLayout/css/styles.min.css" />

    @* [GG Icon] *@
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings: 'FILL' '0', 'wght' '400', 'GRAD' '0', 'opsz' '24'
        }
    </style>

    @* [Owner] *@
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <partial name="LeftSite" />
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <partial name="Navbar" />
            </header>
            <!--  Header End -->
            <div class="container-fluid" style="margin-left: 0; margin-right: 0; width: 100%; max-width: 2000px">
                @RenderBody()
            </div>
        </div>
    </div>

    @* [LAYOUT] *@
    <script src="~/adminLayout/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/adminLayout/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminLayout/js/sidebarmenu.js"></script>
    <script src="~/adminLayout/js/app.min.js"></script>
    <script src="~/adminLayout/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/adminLayout/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/adminLayout/js/dashboard.js"></script>
    <script src="~/js/home/search.js" defer></script>

    <script type="text/javascript">
        function handleSearch(event) {
            var q = document.getElementById('search-input').value;

            if (!q) return;

            console.log(q);
            window.location = `/Home/Search?q=${q}`;
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



