@using System.Security.Claims;
@{
    var identity = Context.User.Identity as ClaimsIdentity;
    Account currentAccount = null;

    if (identity != null)
    {
        var accountClaims = identity.Claims;

        currentAccount = new Account()
                {
                    Username = accountClaims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier)?.Value,
                    Level_account = Convert.ToInt32(accountClaims.FirstOrDefault(p => p.Type == ClaimTypes.Role)?.Value)
                };

        if (currentAccount != null && (currentAccount.Username == string.Empty || currentAccount.Username == null))
        {
            currentAccount = null;
        }
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShowroomManagement</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShowroomManagement.styles.css" asp-append-version="true" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/clientlayout/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/clientlayout/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/clientlayout/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/clientlayout/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/clientlayout/css/style.css" rel="stylesheet">

    @* [GG Icon] *@
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <style>
        html, body {
            font-family: Roboto;
        }

        .material-symbols-outlined {
            font-variation-settings: 'FILL' '0', 'wght' '400', 'GRAD' '0', 'opsz' '24'
        }

        .thumbnail {
            position: relative;
            width: 100%;
        }

            .thumbnail img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    </style>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Topbar Start -->
    <div class="container-fluid bg-light p-0">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-map-marker-alt text-primary me-2"></small>
                    <small>03 Cầu Giấy, quận Đống Đa, TP. Hà Nội</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center py-3">
                    <small class="far fa-clock text-primary me-2"></small>
                    <small>Thứ 2 - Thứ 7 : 09.00 AM - 09.00 PM</small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-phone-alt text-primary me-2"></small>
                    <small>+012 345 6789</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a asp-controller="ClientHome" asp-action="Index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>RollRoyces</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a asp-controller="ClientHome" asp-action="Index" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                    <a asp-controller="Products" asp-action="Index" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sản phẩm</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a asp-controller="Products" asp-action="Search" asp-route-q="toyota" class="dropdown-item">Toyota</a>
                        <a asp-controller="Products" asp-action="Search" asp-route-q="mercedes" class="dropdown-item">Mercedes</a>
                        <a asp-controller="Products" asp-action="Search" asp-route-q="benley" class="dropdown-item">Benley</a>
                        <a asp-controller="Products" asp-action="Search" asp-route-q="bmw" class="dropdown-item">BMW</a>
                        <a asp-controller="Products" asp-action="Search" asp-route-q="honda" class="dropdown-item">Honda</a>
                        <a asp-controller="Products" asp-action="Index" class="dropdown-item">Xem thêm</a>
                    </div>
                </div>
                <a asp-controller="ClientHome" asp-action="Contact" class="nav-item nav-link">Liên hệ</a>
                @if (currentAccount == null)
                {
                    <a asp-controller="Accounts" asp-action="Login" class="nav-item nav-link">Đăng nhập</a>
                } else
                {
                    <div class="nav-item dropdown">
                        <a asp-controller="Accounts" asp-action="ClientAccount" class="nav-item nav-link">@currentAccount.Username</a>
                        <div class="dropdown-menu fade-up m-0">
                            <a asp-controller="Accounts" asp-action="Logout" class="nav-item nav-link">Logout</a>
                        </div>
                    </div>
                }
            </div>
            @if (currentAccount != null)
            {
                <a asp-controller="ClientHome" asp-action="Booking" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Đặt lịch tư vấn<i class="fa fa-arrow-right ms-3"></i></a>
            }
            else
            {
                <a asp-controller="Accounts" asp-action="Login" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Đặt lịch tư vấn<i class="fa fa-arrow-right ms-3"></i></a>
            }
        </div>
    </nav>
    <!-- Navbar End -->

    <main class="container-md my-5">
        @RenderBody()
    </main>
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Địa chỉ</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>03 Cầu Giấy, Đống Đa, Hà Nội</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>Harryguci@nasa.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Giờ mở cửa</h4>
                    <h6 class="text-light">Thứ 2 - Thứ 6:</h6>
                    <p class="mb-4">09.00 AM - 09.00 PM</p>
                    <h6 class="text-light">Thứ 7 - Chủ nhật:</h6>
                    <p class="mb-0">09.00 AM - 12.00 PM</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Dịch vụ</h4>
                    <a class="btn btn-link" href="">Diagnostic Test</a>
                    <a class="btn btn-link" href="">Engine Servicing</a>
                    <a class="btn btn-link" href="">Tires Replacement</a>
                    <a class="btn btn-link" href="">Oil Changing</a>
                    <a class="btn btn-link" href="">Vacuam Cleaning</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Nhận thông báo</h4>
                    <p>Để lại email của bạn để nhận những thông tin mới nhất về cửa hàng.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Email của bạn">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">UTC Nhóm 07</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a asp-action="Index">Home</a>
                            <a asp-controller="Products" asp-action="Index">Product</a>
                            <a asp-action="Contact">Contact</a>
                            <a href="">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/clientlayout/lib/wow/wow.min.js"></script>
    <script src="/clientlayout/lib/easing/easing.min.js"></script>
    <script src="/clientlayout/lib/waypoints/waypoints.min.js"></script>
    <script src="/clientlayout/lib/counterup/counterup.min.js"></script>
    <script src="/clientlayout/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/clientlayout/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/clientlayout/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/clientlayout/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/clientlayout/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>