@using System.Security.Claims;
@{
    var identity = Context.User.Identity as ClaimsIdentity;
    Account currentAccount = null;

    if (identity != null)
    {
        var accountClaims = identity.Claims;

        currentAccount = new Account()
                {
                    Username = accountClaims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier)?.Value,
                    EmployeeId = accountClaims.FirstOrDefault(p => p.Type == "EmployeeId")?.Value,
                    Level_account = Convert.ToInt32(accountClaims.FirstOrDefault(p => p.Type == ClaimTypes.Role)?.Value)
                };

        if (currentAccount != null && (currentAccount.Username == null || currentAccount.Username == string.Empty))
        {
            currentAccount = null;
        }
    }
}

<style>
    .notification-menu {
        background: rgb(250, 250, 250);
        box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
    }

        .notification-menu ul li {
            line-height: 0.5rem;
            padding: 1rem;
        }

            .notification-menu ul li p {
                font-weight: bold;
            }

            .notification-menu ul li:hover {
                background: rgb(240, 240, 255);
            }

</style>
<nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item d-block d-xl-none">
            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
            </a>
        </li>
        <li class="nav-item">
            <button class="btn nav-link nav-icon-hover" onclick="HandleToggleNotiMenu(event, '@(currentAccount.EmployeeId)')">
                <i class="ti ti-bell-ringing "></i>
                <div class="notification bg-primary rounded-circle"></div>
            </button>
            <div class="notification-menu d-none" style="position: absolute !important; bottom: 0; left: 0px; transform: translate(0, 100%)"></div>
        </li>
    </ul>
    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
            <li class="nav-item d-flex">
                <button id="layout-search-btn" type="button" class="btn btn-outline-primary"
                        style="border-bottom-right-radius: 0; border-top-right-radius: 0;"
                        onclick="handleSearch(event)"
                        disabled>
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
                <div style="position: relative">
                    <input id="search-input"
                           class="form-control h-100" type="text" name="q"
                           placeholder="Search..."
                           style="border-bottom-left-radius: 0;border-top-left-radius: 0;"
                           onchange="handleChange(event)"
                           onkeypress="handleChange(event)"
                           onfocus="handleChange(event)" />
                    <div id="search-result" class="position-absolute d-none" style="z-index: 100"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="~/images/AdminLayout/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                    <div class="message-body">
                        <a asp-controller="Accounts" asp-action="Person" class="d-flex align-items-center gap-2 dropdown-item">
                            <i class="ti ti-user fs-6"></i>
                            <p class="mb-0 fs-3">
                                @(currentAccount != null ? currentAccount.Username : "-")
                            </p>
                        </a>
                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                            <i class="ti ti-mail fs-6"></i>
                            <p class="mb-0 fs-3">My Account</p>
                        </a>
                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                            <i class="ti ti-list-check fs-6"></i>
                            <p class="mb-0 fs-3">My Task</p>
                        </a>
                        <a asp-controller="Home" asp-action="Logout"
                           class="btn btn-outline-primary mx-3 mt-2 d-block">
                            Logout
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<script src="/js/account/HandleToggleNotiMenu.js" defer></script>