@{
    Layout = "~/Views/Shared/_ClientHomeLayout.cshtml";
    ViewData["Title"] = "Showroom RollRoyces";
}


<div class="text-center welcome-wrap my-5">
    <h1 class="display-4">Showroom RollRoyces</h1>
    <p>Chào mừng bạn đến với Rollroyces</p>
    <p>Detail: <a target="_blank" href="https://github.com/Harryguci/Showroom-ASPNET-Core-MVC">Showroom ASP.NET Core MVC</a>.</p>
</div>