@model ShowroomManagement.Models.Products

@{
    ViewData["Title"] = "Create new Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .form-group {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
</style>

<main class="px-2 px-md-5">
    <h1>Create</h1>
    <h4>Products</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Serial" class="control-label"></label>
                    <input asp-for="Serial" class="form-control" />
                    <span asp-validation-for="Serial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InEnterId" class="control-label"></label>
                    <input asp-for="InEnterId" class="form-control" />
                    <span asp-validation-for="InEnterId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InSaleId" class="control-label"></label>
                    <input asp-for="InSaleId" class="form-control" />
                    <span asp-validation-for="InSaleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
