@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "SingUp";
}

@section Styles {
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel="stylesheet" href="~/css/login/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
}

<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="signup" asp-controller="Accounts" asp-action="SignUp" onsubmit="HandleSubmit(event)">
                <h1 class="fw-bold" style="color: rgb(0, 0, 150)">SignUp</h1>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <select id="employeeId" name="employeeId" class="login__input">
                        <option value="">Select Employee</option>
                        @if (Model != null)
                        {
                            @foreach (var employee in Model)
                            {
                                <option value="@employee.EmployeeId">@employee.Firstname @employee.Lastname</option>
                            }
                        }
                    </select>
                    <input type="hidden" id="employeeIdHidden" name="employeeHiddenId" /> <!-- Sử dụng trường ẩn để lưu giá trị employeeId -->
                    </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" id="username" name="username" class="login__input" placeholder="User name / Email">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" id="password" name="password" class="login__input" placeholder="Password">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="login__input" placeholder="Confirm Password">
                </div>
                <div class="admin__checkbox__field">
                    <input type="checkbox" id="isAdmin" name="isAdmin" class="admin_checkbox" value="true">
                    <label for="isAdmin">Sign up as Admin</label>
                </div>
                
                <p class="form-helper text-danger" style="font-size: 12px">
                    @if (ViewBag.ValidateMessage != null)
                    {
                        @ViewBag.ValidateMessage
                    }
                </p>
                <button class="button login__submit" type="submit">
                    <span class="button__text">Sign Up Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>

            <div class="social-signup" style="padding-top: 10px">
                <div class="social-icons">
                    <a href="#" class="social-login__icon fab fa-instagram"></a>
                    <a href="#" class="social-login__icon fab fa-facebook"></a>
                    <a href="#" class="social-login__icon fab fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>



<script>

    //$("#employeeId").select2({
    //    tags: true
    //});

    function searchEmployeeFunction() {
        var searchValue = document.querySelector(".searchEmployee").value.toLowerCase();
        var dropdown = document.querySelector("#employeeId");

        // Xóa tất cả các tùy chọn hiện có
        while (dropdown.options.length > 0) {
            dropdown.remove(0);
        }

        // Thêm tùy chọn dựa trên tên nhân viên gợi ý
        for (var i = 0; i < employees.length; i++) {
            if (employees[i].name.toLowerCase().includes(searchValue)) {
                var option = document.createElement("option");
                option.value = employees[i].id;
                option.text = employees[i].name;
                dropdown.add(option);
            }
        }

        // Nếu không có gợi ý, thêm một tùy chọn "Select Employee"
        if (dropdown.options.length === 0) {
            var option = document.createElement("option");
            option.value = "";
            option.text = "Select Employee";
            dropdown.add(option);
        }
    }

    async function HandleSubmit(event) {
        event.preventDefault();

        if (!confirm("Bạn muốn đăng ký?")) return;

        var username = document.querySelector(`form input[name="username"]`).value;
        var password = document.querySelector(`form input[name="password"]`).value;
        var confirmPassword = document.querySelector(`form input[name="confirmPassword"]`).value;

        if (username && username.length < 3) {
            alert("Tên đăng nhập quá ngắn.");
            return;
        }
        if (password && password.length < 6) {
            alert("Mật khẩu phải trên 6 ký tự.");
            return;
        }
        if (password !== confirmPassword) {
            alert("Mật khẩu và xác nhận mật khẩu không khớp.");
            return;
        }
        // Nếu không có lỗi, tiến hành gửi form
        var form = document.querySelector('form');
        form.submit();
    }

    document.getElementById("employeeId").addEventListener("change", function () {
        var selectedEmployeeName = this.value;
        if (employeeId !== null) {
            document.getElementById("employeeIdHidden").value = selectedEmployeeName;
        }
    });

</script>



@*@section Scripts {
    <script src="~/js/signup/HandleSubmit.js" defer></script>
}*@
