@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Source Code: <a target="_blank" href="https://github.com/Harryguci/Showroom-ASPNET-Core-MVC">Showroom ASP.NET Core MVC</a>.</p>
</div>
