.welcome-wrap {
    animation-name: welcome;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes welcome {
    0% {
        opacity: 0;
        transform: translate(0, 3rem)
    }
    100% {
        opacity: 1;
        transform: translate(0, 0)
    }
}

form .form-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn {
    border-radius: 0;
}

.btn-outline-primary {
    color: rgb(50, 50, 50) !important;
    border-color: rgb(50, 50, 50) !important;
    background-color: rgb(50, 50, 50, 0) !important;
}

    .btn-outline-primary:hover {
        color: white !important;
        border-color: rgb(50, 50, 50) !important;
        background-color: rgb(50, 50, 50) !important;
    }

.btn-primary {
    color: white;
    background-color: rgb(50, 50, 50);
    border-color: rgb(50, 50, 50) !important;
}
    .btn-primary:hover {
        background-color: rgb(0, 0, 150);
    }

.btn-outline-primary.active {
    color: white !important;
    background: rgb(50, 50, 50) !important;
}