@model ShowroomManagement.Models.Products

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var serial = ViewBag.serial;
}

<h1>Tạo mới</h1>

<h4>Sản phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="Serial" class="control-label"></label>
                <input asp-for="Serial" class="form-control" value="@serial" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalePrice" class="control-label"></label>
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="d-block rounded-3" style="position: relative; width: 100%; height: 50px; background: rgb(245, 245, 245)">
                    <input type="file" class="d-none" name="url_image" multiple="multiple" onchange="loadFile(event)" />
                    <div class="center">
                        <p>Thêm ảnh</p>
                    </div>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div id="preivew-thumbnail" class="d-flex gap-1 mt-3" style="flex-wrap: wrap;">
            @* <img src="" width="100" height="100"/> *@
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Quay về danh sách</a>
</div>

@section Scripts {
    <script defer>
        var loadFile = function (event) {
            console.log('Handle Load files');
            
            var preview = document.querySelector('#preivew-thumbnail');

            preview.innerHTML = '';
            // image.src = URL.createObjectURL(event.target.files[0]);

            for (var i = 0; i < event.target.files.length; i++) {
                preview.innerHTML += `<img src="` + URL.createObjectURL(event.target.files[i]) + `" width="300px" height="auto"/>`;
            }
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
